* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-regular-italic {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: italic;
}

.fs-60{
  font-size: 60px;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;

}

.footer-bg{
  background: #238fb0;
}


