h1 {
    color: red;
    background-color: yellow;
}

.text-blue {
    color: rgb(10, 10, 208);

}

.text-purple {
    color: rgb(108, 7, 108);
}

.fs_20 {
    font-size: 20px;
}

.fs_30 {
    font-size: 30px;
}


h2 {
    color:rgb(21, 182, 21)
}

h3{
    color: grey;
}

.text-brown{
    color: brown;
}